<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>

<div id="editor"><%= @refactor.code %></div>
</p>

<%= link_to 'Edit', edit_refactor_path(@refactor) %> |
<%= link_to 'Back', refactors_path %>
